{% extends "base.html" %}
{% block title %}
    Report-{{ title }}
{% endblock %}

{% block style %}
    <style>
        ul{
            margin-left: 0px;
            padding-left: 10px;
        }
        li{
            list-style: none;
            margin-left: 0px;
            margin-bottom: 10px;
            padding: 0px;
        }
        button.menu {
            height: 100%;
            background-color: #ffffff;
            color: #fc461e;
            font-weight: bold;
            font-size: 15px;
            border-style: none;
            position: relative;
            padding-left: 20px;
            padding-right: 20px;
            width: 100px;
            top: 5px;
            margin: 0px;
            text-align: left;

        }
        button:hover{
            background-color: #f4f4f4;
        }
    </style>
{% endblock %}
{% block content %}

<body>
    <div id="table">
        {% if receiver_list %}
            <form action="." method="post">
                From:<input type="date" name="from" id="from"/>To: <input type="date" name="to" valueAsDate="?=date('1999-09-09')"/>
                <input type="submit" value="Search" style="height: 20px;"/>
            </form>
        {% endif %} 
        <table border="1" cellpadding="10px">
            {% if goods %}
                <tr>
                    <th>名称</th>
                    <th>价格</th>
                    <th>类目</th>
                    <th>销量</th>
                </tr>
            {% endif %}
            {% for foo in goods %}
                <tr>
                <td>{{ foo.name }}</td>
                <td>{{ foo.price }}</td>
                <td>{{ foo.category}}</td>
                <td>{{ foo.count}}</td>
                </tr>
            {% endfor %}

        </table>
        
    </div>
</body>
{% endblock %}
